h2, h3 {
  clear: both;
}

.body-wrapper h2 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  font-size: 30px !important;
  text-align: center !important;
}

div.align-right.media--type-image img {
  display: block;
  padding: 5px;
  margin: 0 0 0 5px;;
  float: right;
}

div.align-left.media--type-image img {
  display: block;
  padding: 5px;
  margin: 0 15px 0 0;
  float: left;
}

div.align-center.media--type-image img {
  display: block;
  margin: 0 auto;
  padding: 5px;
  float: none;
}

div.media--type-image img {
  border: 1px solid #999;
  padding: 5px;
}

figure.align-right {
  display: table;
  padding: 0;
  margin: 0 0 0 5px;;
  float: right;
}

figure.align-left {
  display: table;
  padding: 0;
  margin: 0 15px 0 0;
  float: left;
}

figure.align-center {
  display: table;
  margin: 0 auto;
  padding: 0 5px;
  float: none;
}

.caption {
  display: table;
}

.caption > figcaption {
  display: table-caption;
  caption-side: bottom;
  max-width: none;
  color: #696969;
  font-family: serif;
  font-style: italic;
  font-size:12px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #999;
}

h2.webform-section-title,
.field__label {
  margin: 15px 0;
  font-size: 24px !important;
  text-align: left !important;
}

.summons {
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 24px !important;
  border-bottom: 2px solid #eeeeee;
  padding-bottom: 25px;
}

img {
  max-width: 100%;
  border: 0;
  height: auto;
  outline: none;
}

.field--name-field-image-media img {
  width: 100% !important;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #0d77b5;
}

div.body-wrapper {
  margin: 0 5px;
  font-family:Arial, sans-serif;
  width:600px;
  max-width: 100%;
}

p, li, td {
  font-family: serif;
  font-size: 18px;
  line-height: 26px;
  margin: 10px 0;
}

blockquote {
  border-left: 2px solid #A0A0A0;
  margin-top: 10px;
  padding-left: 10px;
  margin-left: 10px;
  display: block;
}

blockquote::before {
  content: "“";
  font-size: 40px;
}

blockquote::after {
  content: "";
  width: 9px;
  height: 70%;
}

blockquote p {
  color: #606060;
  font-style: italic;
  font-size: 20px;
  line-height: 24px;
}

div.relatedarticles {
  clear: both;
}

div.simplenews-footer {
  font-family:Arial, sans-serif;
  margin:15px 0;
  color: #696969;
  font-size:12px;
  line-height: 16px;
  clear: both;
}

p.simplenews-para {
  font-family:Arial, sans-serif;
  margin: 4px 0;
  color: #696969;
  font-size:12px;
  line-height: 16px;
}

p.simplenews-para.first-para {
  font-family:Arial, sans-serif;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 2px solid #eeeeee;
}

p.link-to-page {
  text-align: center;
  width: 100%;
  margin: 0;
}

div.simplenews-footer a,
p.link-to-page a {
  font-family:Arial, sans-serif;
  font-size:12px;
  line-height: 16px;
  color: #0d77b5;
}

div.field--label-inline > div > div,
div.field--label-inline > h3 {
  font-weight: normal;
}

div.field--name-field-agenda ul,
div.field--name-field-meeting-place ul,
div.field--name-field-minutes-status ul,
div.field--name-field-remote-video ul {
  list-style: none;
  padding-left: 0;
}

div.field--name-field-agenda li,
div.field--name-field-meeting-place li,
div.field--name-field-minutes-status li,
div.field--name-field-remote-video li {
  font-family:Arial, sans-serif;
}

div.field--name-field-minutes-status a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

div.media {
  display: block;
  margin: 5px;
}

.views-row {
  margin-bottom: 15px;
}
