div.field--name-field-photo > .field__label {
  display: none;
}
div.field--name-field-photo .field__items::before {
  content: "Click an image to see a larger version"
}

div.field--name-field-photo .field__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(144px, 1fr));
  grid-gap: 10px;
  grid-auto-flow: dense;
}
div.field--name-field-photo .field__item {
  max-width: 220px;
}
