.view-frontpage-news-items .media--type-image {
	float: left;
	margin-right: 1rem;
}

/* BEGIN - fix /core/themes/olivero/css/components/embedded-media.css */
/* Pull out of grid if nested in content narrow layout. */
@media (min-width: 43.75rem) {

[dir="ltr"] .layout--content-narrow .align-right,
[dir="ltr"] .layout--pass--content-narrow > * .align-right {
	margin-right: -3rem !important;
  }
}

@media (min-width: 62.5rem) {

[dir="ltr"] .layout--content-narrow .align-right,
[dir="ltr"] .layout--pass--content-narrow > * .align-right {
	margin-right: -6rem !important;
  }
}
/* END - fix /core/themes/olivero/css/components/embedded-media.css */


/* BEGIN - Photo "gallery" page */

div.field--name-field-photo > .field__label {
  display: none;
}

div.field--name-field-photo .field__items::before {
  content: "Click an image to see a larger version"
}

div.field--name-field-photo .field__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(144px, 1fr));
  grid-gap: 10px;
  grid-auto-flow: dense;
}

/* END -Photo "gallery" page */
