
@page {
    size: A4;
    margin: 2cm;
    padding: 0;
    border: 0;
}

body {
    padding: 0 0.5cm;
    margin: 0;
    font-size: 11pt;
    line-height: 13pt;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
}

body.page-node-type-meeting {
    border: #b32100 solid 4pt;
}

body.page-node-type-meeting div.block-page-title-block::after {
    display: block;
    content: 'The press and public are welcome.';
    font-size: 12pt;
    line-height: 14pt;
    font-weight: bold;
    padding-bottom: 1pt;
    padding-top: 1pt;
}

[dir] .main-content {
  padding-top: 14pt;
}

div.grid-full {
  grid-column-gap: 0px;
}

[dir] table,
[dir] .field,
[dir] .region > *,
[dir] .node__content,
[dir] .field:not(:last-child),
[dir] .text-content p,
[dir] .cke_editable p,
h1.page-title  {
    margin-top: 0;
    margin-bottom: 4pt;
}

h1.page-title  {
    font-size: 14pt;
    line-height: 16pt;
    margin-top: 0;
    margin-bottom: 16pt;
    font-weight: bold;
}

[dir] h2,
[dir] .field--tag-ref,
[dir="ltr"] .field--tag-ref__label,
div.field--name-description > p,
div.field__label,
h2 a,
h2 {
    font-size: 11pt;
    line-height: 13pt;
    color: darkgrey;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

[dir] .field--tag-ref__item a,
.text-content, .cke_editable,
article.node--type-agenda li,
p {
    font-size: 11pt;
    line-height: 13pt;
    color: darkslategray;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
}

div.node__meta,
[dir="ltr"] body:not(.is-always-mobile-nav) .site-footer,
header#header,
div.region--highlighted,
div.region--breadcrumb,
aside.region--sidebar,
div.field--name-field-meeting-minutes,
div.field--name-field-minutes-meeting,
div.field--name-field-agenda-meeting {
    display: none;
}


.field--tag-ref__label {
  line-height: 1;
}
