
@page {
    size: A4 portrait;
    margin: 2cm;
}

body {
    padding: 0 0.5cm;
    margin: 0;
    font-size: 11pt;
    line-height: 13pt;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    max-height: max-content;
}

body.page-node-type-meeting {
    border: #b32100 solid 4pt;
}

body.page-node-type-meeting div.block-page-title-block::after {
    display: block;
    content: 'The press and public are welcome.';
    font-size: 12pt;
    line-height: 14pt;
    font-weight: bold;
    padding-bottom: 1pt;
    padding-top: 1pt;
}

div.main-content_container,
div.block-page-title-block,
h1, h1 > span {
  padding-top: 0;
  margin-top: 0;
}

div.grid-full {
  display: block;
  max-width: 18cm;
  margin: 0 auto;
}

[dir] table,
[dir] .field,
[dir] .region > *,
[dir] .field:not(:last-child),
[dir] .text-content p,
[dir] .cke_editable p,
h1.page-title  {
    margin-top: 0;
    margin-bottom: 4pt;
}

[dir] .node__content {
  margin: 0;
  padding: 0;
  max-height: max-content;
}


h1.page-title  {
    font-size: 14pt;
    line-height: 16pt;
    margin-top: 0;
    margin-bottom: 16pt;
    font-weight: bold;
}

[dir] h2,
div.field--name-description > p,
div.field__label,
h2 a,
h2 {
    font-size: 11pt;
    line-height: 13pt;
    color: darkgrey;
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

[dir] .field--tag-ref,
[dir="ltr"] .field--tag-ref__label,
[dir] .field--tag-ref__item a,
.text-content, .cke_editable,
article.node--type-agenda li {
    font-size: 11pt;
    line-height: 13pt;
    color: darkslategray;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
}

[dir] .field--tag-ref {
  padding: 0;
}

header#header, header.site-header,
article.node--type-agenda header,
div.node__meta,
div.main-content > a,
div.region--highlighted,
div.region--breadcrumb,
div.social-bar,
aside.region--sidebar,
div.field--name-field-meeting-minutes,
div.field--name-field-minutes-meeting,
div.field--name-field-agenda-meeting,
div.field--name-field-agenda-status,
[dir="ltr"] body:not(.is-always-mobile-nav) .site-footer {
    display: none;
}

div.field--name-field-agenda-status {
  clear: both;
  height: 30pt;
}

[dir] .field--label-inline .field--tag-ref__label,
[dir="ltr"] .field--label-inline .field__items  {
  padding: 8pt 8pt 8pt 0;
}


.field--tag-ref__label {
  line-height: 1;
}
