.align-right  {
  display: block;
  padding: 0;
  margin: 0 0 0 5px;;
  float: right;
}

.align-left  {
  display: block;
  padding: 0;
  margin: 0 15px 0 0;
  float: left;
}

.align-center {
  display: block;
  margin: 0 auto;
  padding: 0 5px;
  float:none;
}

.body-wrapper h2 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  font-size: 30px !important;
  text-align: center !important;
}

h2.webform-section-title,
.field__label {
  margin: 15px 0;
  font-size: 24px !important;
  text-align: left !important;
}

img {
  max-width: 100%;
  border: 0;
  height: auto;
  outline: none;
  box-shadow: 3px 3px 5px 3px #A9A9A9;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: #b32100;
}

div.body-wrapper {
  margin: 0;
  font-family:Arial, sans-serif;
  width:600px;
  max-width: 100%;
}

p, li {
  font-size: 18px;
  margin: 10px 0;
}

blockquote {
  border-left: 2px solid #A0A0A0;
  padding-left: 15px;
  display: table-cell;
}

blockquote p {
  color: #606060;
  font-style: italic;
  font-size: 16px !important;
}

figcaption {
  color: #696969;
  font-size:14px;
  text-align: center;
}

div.simplenews-footer {
  margin:15px 0;
  color: #696969;
  font-size:12px;
  clear: both;
}

p.simplenews-para {
  margin: 4px 0;
  color: #696969;
  font-size:12px;
}

p.simplenews-para.first-para {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 2px solid #eeeeee;
}

div.field--label-inline > div > div,
div.field--label-inline > h3 {
  font-weight: normal;
}

div.field--name-field-agenda ul,
div.field--name-field-meeting-place ul {
  list-style: none;
}

div.simplenews-footer a {
  font-size:12px;
  color: #d95d33;
}
