<!DOCTYPE html>
<html lang="en" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <!--[if mso]>
  <xml>
    <o:OfficeDocumentSettings>
      <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
  </xml>
  <![endif]-->
</head>
<body>
<!--[if mso]>
<table role="presentation" style="margin:0 auto; width:600px;"><tr><td>
<![endif]-->
<div class="body-wrapper">
  {{ body }}

</div>
<!--[if mso]>
</td></tr></table>
<![endif]-->
</body>
</html>
