<div class="mailpix">
  <img class="mailpix_img" src="/themes/contrib/pellucid_olivero/images/email_hero.jpg"
         alt="Bradford Abbas banner hero image">
</div>

<p class="link-to-page">
<a href=" {{ url('entity.node.canonical', {'node': node.id}) }}">You can view this message in your web browser</a>
</p>

{{ content|without('comment') }}

{# Insert block related Articles defined in theme preprocess  #}
{% if related_articles %}
<div class="relatedarticles">
  <hr>
  <h3>Recent News Articles</h3>
    {{ related_articles }}
</div>
{% endif %}

{% if not opt_out_hidden %}
  <p class="simplenews-unsubscribe"><a href="[simplenews-subscriber:unsubscribe-url]">Unsubscribe from this newsletter</a>
</p>
{% endif %}
